.idea
node_modules/
build/
build-test/
coverage/
*.db
*.log
*gun_data
.DS_Store
proving_key.bin
circuit.json
.env
.nyc_output
config.dev.json
config.prod.json
config.json
gun.test.db
uploaded_files/
.npmrc
